#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_" || exit;
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function s() {
	if [ $# -eq 0 ]; then
		subl .;
	else
		subl "$@";
	fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules' --dirsfirst "$@" | less -FRNX;
}

# https://unix.stackexchange.com/questions/97920/how-to-cd-automatically-after-git-clone
# git()
# {
#    local tmp=$(mktemp)
#    local repo_name

#    if [ "$1" = clone ] ; then
#      /usr/bin/git "$@" | tee $tmp
#      repo_name=$(awk -F\' '/Cloning into/ {print $2}' $tmp)
#      rm $tmp
#      printf "changing to directory %s\n" "$repo_name"
#      cd "$repo_name"
#    else
#      /usr/bin/git "$@"
#    fi
# }

function gclone() {
  DIR="$(basename "$1" ".git")";
  if [[ -n $2 ]]; then
    DIR="$2";
  fi;

  git clone "$@" && cd "$DIR" || exit
}

# grmtag v1.0.0
function grmtag() {
	git tag -d "$1"
	git push origin ":refs/tags/$1"
}

# smartresize inputfile.png 300 outputdir/
# https://www.smashingmagazine.com/2015/06/efficient-image-resizing-with-imagemagick/
function smartresize() {
   mogrify \
     -path "$3" -filter Triangle \
     -define "filter:support=2" \
     -thumbnail "$2" \
     -unsharp "0.25x0.08+8.3+0.045" \
     -dither None \
     -posterize 136 \
     -quality 82 \
     -define "jpeg:fancy-upsampling=off" \
     -define "png:compression-filter=5" \
     -define "png:compression-level=9" \
     -define "png:compression-strategy=1" \
     -define "png:exclude-chunk=all" \
     -interlace none \
     -colorspace sRGB "$1"
}

# fingerprint ~/.ssh/id_rsa
function fingerprint() {
    ssh-keygen -lf "$1" -E md5
}

# https://stackoverflow.com/questions/3964068/zsh-automatically-run-ls-after-every-cd
function chpwd() {
  emulate -L zsh
  ls -d -- */
}
